.container{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 250px 1fr;
    /* grid-auto-rows: auto; */
    grid-template-rows: 30px 1fr 30px;
    grid-template-areas:
    "hr hr hr"
    "sd ct ct"
    "ft ft ft";
}
.box1{
    grid-area: hr;
    border: 1px solid red;
}
.box2{
    grid-area: sd;
    border: 1px solid red;
}
.box3{
    grid-area: ct;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.box4{
    grid-area: ft;
    border: 1px solid red;
}

@media(max-width:500px){
    .container{
        grid-template-columns: 1fr;
        /* grid-auto-rows: auto; */
    }
}